body{
    text-align: center;
    background-color: rgb(176, 224, 230);
    
}
#Code{
    background-color: whitesmoke;
    height: 500px;
    width: 500px;
    text-align: left;
    font-size: 3ch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:10px;
}

#DIV{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:50px;
}